body{
    background-color:white;
    color:black;
}
h1{
    text-align:center;
    color:green;
    font-size: 5em;
}
h2{
    text-align:center;
    color:blue;
    font-size: 4em;
}
h3{
    background-color:white;
    color:black;
    
    font-size: 1.2em;
}
h4{
    text-align:center;
    color:black;
    font-size: 2em;
}
p{
    color:black;
    min-width: 100px;
}
input{
    min-width: 100px;
    min-height: 60px;
    font-size: 2em;
}